@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../assets/fonts/Rubik-Regular.ttf);
}
body {
  font-family: "Rubik", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  outline: none;
}

.btn1 {
  display: flex;
  background-color: transparent;
  align-items: center;
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.btn2 {
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: transparent;
  width: 256px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  transition: 0.5s;
}

.btn2:hover {
  border: #f63;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: #fff;
}

.btn3 {
  width: 134px;
  padding: 8px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
}

.modal-btn1 {
  width: 260px;
  padding: 16px;
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
  color: var(--main-primary, #f63);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.modal-btn2 {
  width: 105px;
  background: transparent;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.modal-btn3 {
  background: transparent;
  padding: 8px;
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.btn4 {
  padding: 16px;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  display: flex;
  flex-direction: row-reverse;
}
.btn4 .p15 {
  width: 207px;
  align-items: center;
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.btn5 {
  background: transparent;
  cursor: pointer;
}

.btn6 {
  background: transparent;
  cursor: pointer;
}

.btn7 {
  width: 272px;
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 16px;
  border-radius: 4px;
  background: var(--main-primary, #f63);
}

.home-card {
  background-color: #fff;
  max-width: 272px;
}
.home-card .product-img {
  position: relative;
}
.home-card .product-img .loved {
  position: absolute;
  right: 8px;
  top: 8px;
}
.home-card .product-img .discount-img {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  padding: 4px 8px;
  width: 56px;
}
.home-card .product-img .discount-img .p8 {
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.home-card .card-btom {
  padding: 8px;
}
.home-card .card-btom .d2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-card .card-btom .d2 #p2 {
  padding-bottom: 20px;
}
.home-card .card-btom .d2 .p2 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.home-card .card-btom .d2 .p3 {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.home-card .card-btom .d3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}
.home-card .card-btom .d3 .p4 {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.home-card .card-btom .d3 .p5 {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.home-card .card-btom .product-name {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 5px;
}
.home-card .card-btom .p6 {
  max-width: 250px;
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.home-card .card-btom .rank-img {
  padding-top: 8px;
  padding-bottom: 8px;
}

.offers-card2 {
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
  display: flex;
  align-items: center;
  padding: 12px 20px 12px 40px;
}
.offers-card2 .p2 {
  color: var(--main-on-surface, #414141);
  max-width: 258px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.offers-card2 .p3 {
  color: var(--main-on-surface, #414141);
  max-width: 250px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 600px) {
  .offers-card2 {
    flex-direction: column;
  }
}
.offers-card {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
  padding: 8px 20px 8px 40px;
}
.offers-card .p2 {
  color: var(--main-on-surface, #414141);
  max-width: 258px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.offers-card .p3 {
  color: var(--main-on-surface, #414141);
  max-width: 250px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

@media (max-width: 600px) {
  .offers-card {
    flex-direction: column;
  }
}
.articles-card {
  background: #fff;
  max-width: 376px;
}
.articles-card .d2 {
  padding: 10px;
}
.articles-card .d2 .p2 {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.articles-card .d2 .p3 {
  color: var(--main-on-surface, #414141);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  max-width: 356px;
}
.articles-card .d2 .p4 {
  max-width: 366px;
  color: var(--main-on-surface, #414141);
  padding-bottom: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.modal {
  display: none;
}
.modal.modal-bl {
  background: rgba(252, 213, 186, 0.8);
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .d3 {
  border-radius: 4px;
  background: #fff;
  width: 420px;
}
.modal .d3 .modal-content {
  position: relative;
}
.modal .d3 .modal-content .modal-close {
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
  padding: 8px;
  width: 40px;
  position: absolute;
  right: 0px;
}
.modal .d3 .modal-content .modal-bot {
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}
.modal .d3 .modal-content .modal-bot .p1 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.modal .d3 .modal-content .modal-bot form {
  display: flex;
  flex-direction: column;
}
.modal .d3 .modal-content .modal-bot form label {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.modal .d3 .modal-content .modal-bot form .input2 {
  width: 260px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
  color: var(--main-on-surface, #414141);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal .d3 .modal-content .modal-bot .d2 {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background: #fff;
}
header .container nav {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .nav-items {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
header .container .nav-items .nav-catalog1 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  padding: 8px;
}
header .container .nav-items .nav-catalog1 .p1 {
  width: 92px;
  color: var(--main-on-secondary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
header .container .nav-items .field {
  position: relative;
  margin-right: 16px;
}
header .container .nav-items .field .input1 {
  width: 344px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  padding: 8px 42px 8px 16px;
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
header .container .nav-items .field .search-icon {
  position: absolute;
  right: 8px;
  top: 8px;
}
header .container .nav-items .nav-links {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
header .container .nav-items .nav-links .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
header .container .nav-items .nav-links .nav-link .p2 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header .container .nav-items .acc {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header .container .nav-catalog {
  display: none;
}
header .container .navcat {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
}
header .container .navcat .d2 {
  display: flex;
  justify-content: space-between;
}
header .container .navcat .d2 .d3 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
header .container .navcat .d2 .d3 .p4 {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  transition: all 0.5s;
}
header .container .navcat .d2 .d3 .p4:hover {
  color: var(--main-primary, #f63);
}

@media (max-width: 1105px) {
  .acc {
    display: none !important;
  }
}
@media (max-width: 970px) {
  .nav-links {
    display: none !important;
  }
}
@media (max-width: 690px) {
  .nav-catalog {
    display: none !important;
  }
}
@media (max-width: 570px) {
  .input1 {
    width: 200px !important;
  }
}
.home {
  margin-top: 86px;
  background: url(../../assets/images/image8.png);
  height: 200px;
}
.home .home1 {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.home .home1 .home-content {
  padding-left: 67px;
  display: flex;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.home .home1 .home-content .p1 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
}

@media (max-width: 690px) {
  .img9 {
    display: none;
  }
}
.location {
  padding-bottom: 120px;
  background: var(--main-bg-page, #fbf8ec);
}
.location .location-content .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
  padding-bottom: 40px;
}
.location .location-content .d2 {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.location .location-content .d2 .d1 {
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
}
.location .location-content .d2 .d1 .p2 {
  width: 88px;
  padding: 8px;
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  transition: 0.5s;
}
.location .location-content .d2 .d1:hover {
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
}
.location .location-content .d2 .d1:hover .p2 {
  color: #fff;
}

.offers {
  padding-bottom: 120px;
  background: var(--main-bg-page, #fbf8ec);
}
.offers .offers-content .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
  padding-bottom: 40px;
}
.offers .offers-content .offers-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}

.articles {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 80px;
}
.articles .articles-content .d1 {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  justify-content: space-between;
}
.articles .articles-content .d1 .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.articles .articles-content .articles-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
}

.new-products {
  padding-bottom: 120px;
  background: var(--main-bg-page, #fbf8ec);
}
.new-products .new-products-content .d1 {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-products .new-products-content .d1 .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.new-products .new-products-content .home-cards {
  display: flex;
  justify-content: space-between;
}
.new-products .new-products-content .home-cards .d50 {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
}

.bought-products {
  padding-bottom: 120px;
  background: var(--main-bg-page, #fbf8ec);
}
.bought-products .bought-products-content .d1 {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bought-products .bought-products-content .d1 .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.bought-products .bought-products-content .home-cards {
  display: flex;
  justify-content: space-between;
}
.bought-products .bought-products-content .home-cards .d50 {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
}

.discount {
  padding-top: 80px;
  padding-bottom: 120px;
  background: var(--main-bg-page, #fbf8ec);
}
.discount .discount-content .d1 {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount .discount-content .d1 .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.discount .discount-content .home-cards {
  display: flex;
  justify-content: space-between;
}
.discount .discount-content .home-cards .d50 {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
}

@media (max-width: 1225px) {
  .home-cards {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
@media (max-width: 610px) {
  .d50 {
    flex-direction: column;
    row-gap: 30px;
  }
}
footer {
  background: url("../../assets/images/pattern2.svg");
  background-color: #f9f4e2;
  padding-top: 24px;
  padding-bottom: 24px;
}
footer .footer-content .d1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-content .d1 .d2 {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
footer .footer-content .d1 .d2 .a1 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
footer .footer-content .d1 .d3 {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
footer .footer-content .d1 .d3 .d4 {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
footer .footer-content .d1 .d3 .d5 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
footer .footer-content .d10 {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 920px) {
  .d1 {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 605px) {
  .d2 {
    -moz-column-gap: 5px !important;
         column-gap: 5px !important;
  }
}
.all-products {
  margin-top: 90px;
  background: var(--main-bg-page, #fbf8ec);
}
.all-products .all-products-content .p1 {
  padding-top: 44px;
  padding-bottom: 50px;
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.all-products .all-products-content .home-cards {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
}
.all-products .all-products-content .home-cards .d50 {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
  padding-bottom: 30px;
}
.all-products .all-products-content .d20 {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-bottom: 60px;
}

.product-page {
  background: var(--main-bg-page, #fbf8ec);
}
.product-page .product-information .product-information-content {
  padding-top: 110px;
}
.product-page .product-information .product-information-content .d1 {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  flex-wrap: wrap;
}
.product-page .product-information .product-information-content .d1 .a4 {
  color: var(--main-on-surface, #414141);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .d1 .a5 {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .p1 {
  padding-top: 24px;
  padding-bottom: 16px;
  color: var(--main-on-surface, #414141);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.product-page .product-information .product-information-content .d2 {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.product-page .product-information .product-information-content .d2 .p2 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .d2 .d3 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.product-page .product-information .product-information-content .d2 .d3 .p3 {
  color: var(--main-on-surface, #414141);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: underline;
}
.product-page .product-information .product-information-content .d2 .d4 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.product-page .product-information .product-information-content .d2 .d4 .p4 {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .d2 .d5 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.product-page .product-information .product-information-content .d2 .d5 .p5 {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .d6 {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-wrap: wrap;
}
.product-page .product-information .product-information-content .d6 .carousel {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.product-page .product-information .product-information-content .d6 .carousel .carousel-main-img .carousel-item {
  display: none;
}
.product-page .product-information .product-information-content .d6 .carousel .carousel-main-img .carousel-item.carousel-hid {
  display: none;
}
.product-page .product-information .product-information-content .d6 .carousel .carousel-main-img .carousel-item.carousel-vis {
  display: block;
  animation: fadeVisibility 0.5s;
}
.product-page .product-information .product-information-content .d6 .carousel .carousel-main-img .carousel-item .img59 {
  width: 504px;
  height: 496px;
}
.product-page .product-information .product-information-content .d6 .carousel .carousel-left-img {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.product-page .product-information .product-information-content .d6 .carousel .carousel-left-img .d7 {
  width: 64px;
  height: 86.4px;
}
.product-page .product-information .product-information-content .d6 .carousel .carousel-left-img .d7 .img58 {
  width: 64px;
  height: 86.4px;
}
.product-page .product-information .product-information-content .d6 .d10 {
  width: 48.4%;
}
.product-page .product-information .product-information-content .d6 .d10 .d11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;
}
.product-page .product-information .product-information-content .d6 .d10 .d11 .p10 {
  color: var(--grayscale-hardest, #606060);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
.product-page .product-information .product-information-content .d6 .d10 .d11 .p11 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.product-page .product-information .product-information-content .d6 .d10 .d12 {
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}
.product-page .product-information .product-information-content .d6 .d10 .d12 .p12 {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .d6 .d10 .d12 .d13 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.product-page .product-information .product-information-content .d6 .d10 .d12 .d13 .p13 {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .d6 .d10 .d16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}
.product-page .product-information .product-information-content .d6 .d10 .d14 {
  padding: 4px 8px;
  background: var(--grayscale-lightest, #f3f2f1);
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.product-page .product-information .product-information-content .d6 .d10 .d14 .p14 {
  color: var(--main-on-surface, #414141);
  width: 161px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.product-page .product-information .product-information-content .d6 .d10 .d15 {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.product-page .product-information .product-information-content .d6 .d10 .d15 .p14 {
  color: var(--main-on-surface, #414141);
  width: 161px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.product-page .product-bought {
  padding-top: 120px;
}
.product-page .product-bought .product-bought-content .d1 {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page .product-bought .product-bought-content .d1 .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.product-page .product-bought .product-bought-content .home-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page .product-bought .product-bought-content .home-cards .d50 {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.product-page .product-discount .product-discount-content {
  padding-bottom: 72px;
  padding-top: 120px;
}
.product-page .product-discount .product-discount-content .d1 {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page .product-discount .product-discount-content .d1 .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.product-page .product-discount .product-discount-content .home-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page .product-discount .product-discount-content .home-cards .d50 {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cart {
  background: var(--main-bg-page, #fbf8ec);
}
.cart .cart-home .cart-home-content {
  padding-top: 100px;
}
.cart .cart-home .cart-home-content .d1 {
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.cart .cart-home .cart-home-content .d1 .a1 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.cart .cart-home .cart-home-content .d1 .a2 {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.cart .cart-home .cart-home-content .p1 {
  color: var(--main-on-surface, #414141);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 96px */
  padding-bottom: 60px;
}
.cart .cart-home .cart-home-content .d2 {
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.cart .cart-home .cart-home-content .d2 .d3 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.cart .cart-home .cart-home-content .d2 .d3 .minus {
  padding: 3px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--grayscale-lightest, #f3f2f1);
  background: var(--main-secondary, #70c05b);
}
.cart .cart-home .cart-home-content .d2 .d3 .p2 {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.cart .cart-home .cart-home-content .d2 .p3 {
  color: var(--main-primary, #f63);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.cart .cart-home .cart-home-content .d4 {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding-bottom: 80px;
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card {
  width: 876px;
  border-radius: 4px;
  background: var(--main-surface, #fff);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .d10 .d11 {
  padding-left: 8px;
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .d10 .d11 .p10 {
  width: 536px;
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: var(--main-on-surface, #414141);
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .d10 .d11 .d13 {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding-top: 10px;
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .d10 .d11 .d13 .p11 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 18px */
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .d10 .d11 .d13 .p12 {
  color: var(--grayscale-hardest, #606060);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .card-btn {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  height: 40px;
  width: 100px;
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .card-btn .p13 {
  color: var(--main-on-secondary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.cart .cart-home .cart-home-content .d4 .korzinka-cards .korzinka-card .p14 {
  color: var(--main-on-surface, #414141);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.cart .cart-home .cart-home-content .d4 .d5 .d6 {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.cart .cart-home .cart-home-content .d4 .d5 .d6 .p4 {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
}
.cart .cart-home .cart-home-content .d4 .d5 .p5 {
  color: var(--grayscale-hard, #8f8f8f);
  padding-top: 20px;
  padding-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.cart .cart-home .cart-home-content .d4 .d5 .line2 {
  width: 272px;
  height: 2px;
  background: var(--grayscale-lightest, #f3f2f1);
}
.cart .cart-home .cart-home-content .d4 .d5 .d7 {
  padding-top: 24px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .cart-home .cart-home-content .d4 .d5 .d7 .p6 {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.cart .cart-home .cart-home-content .d4 .d5 .d7 .p7 {
  color: var(--main-on-surface, #414141);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.cart .cart-home .cart-home-content .d4 .d5 .d8 {
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .cart-home .cart-home-content .d4 .d5 .d8 .p8 {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.cart .cart-home .cart-home-content .d4 .d5 .d8 .p9 {
  color: var(--main-primary, #f63);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.cart .cart-home .cart-home-content .d4 .d5 .d20 {
  padding-top: 24px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .cart-home .cart-home-content .d4 .d5 .d20 .p20 {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.cart .cart-home .cart-home-content .d4 .d5 .d20 .p21 {
  color: var(--main-on-surface, #414141);
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.cart .cart-home .cart-home-content .d4 .d5 .d21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}

.catigories-mainsec {
  background: var(--main-bg-page, #fbf8ec);
}
.catigories-mainsec .catigories-mainsec-content {
  padding-top: 120px;
  padding-bottom: 80px;
}
.catigories-mainsec .catigories-mainsec-content .d1 {
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.catigories-mainsec .catigories-mainsec-content .d1 .a3 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
}
.catigories-mainsec .catigories-mainsec-content .d1 .a3:visited {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.catigories-mainsec .catigories-mainsec-content .p10 {
  color: var(--main-on-surface, #414141);
  padding-bottom: 60px;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 96px */
}
.catigories-mainsec .catigories-mainsec-content .catigories-mainsec-cards {
  border-radius: 4px !important;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}
.catigories-mainsec .catigories-mainsec-content .catigories-mainsec-cards .catigories-mainsec-card {
  position: relative;
  height: 200px;
}
.catigories-mainsec .catigories-mainsec-content .catigories-mainsec-cards .catigories-mainsec-card .bg-img {
  position: relative;
}
.catigories-mainsec .catigories-mainsec-content .catigories-mainsec-cards .catigories-mainsec-card .bg-img .linear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 30%, #70c05b 102.81%);
}
.catigories-mainsec .catigories-mainsec-content .catigories-mainsec-cards .catigories-mainsec-card .a2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--main-on-secondary, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}

.container {
  max-width: 1250px;
  padding: 0px 20px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */