.all-products {
  margin-top: 90px;
  background: var(--main-bg-page, #fbf8ec);
  .all-products-content {
    .p1 {
      padding-top: 44px;
      padding-bottom: 50px;
      color: var(--main-on-surface, #414141);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 54px */
    }
    .home-cards {
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      justify-content: space-between;
      .d50 {
        display: flex;
        column-gap: 42px;
        padding-bottom: 30px;
      }
    }
    .d20 {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      padding-bottom: 60px;
    }
  }
}
